openapi: 3.0.0
info:
  title: Betting API
  version: 0.0.1
  description: |
    API for managing sports betting operations including bet placement, history, cashout, and bet builder functionality.
  contact:
    name: Betsson Group

servers:
  - url: https://api-bson-ssb-pr.betsson.fr
    description: Production environment
  - url: https://api-bson-ssb-ua.betsson.fr
    description: Development/Staging environment
  - url: https://www-bson-ssb-pr.betsson.fr
    description: Production environment (Content Services)
  - url: https://www-bson-ssb-ua.betsson.fr
    description: Development/Staging environment (Content Services)

tags:
  - name: Bet Management
    description: Core betting operations including history, details, and placement
  - name: Bet Builder
    description: Custom bet building and calculation operations
  - name: Boosted Bets
    description: Operations for handling boosted bet offers
  - name: Cashout
    description: Early cashout operations and calculations
  - name: Betslip Settings
    description: Betslip configuration and preferences
  - name: Additional Features
    description: Supplementary betting features including freebets and shared tickets

components:
  schemas:
    BetState:
      type: string
      enum:
        - Attempted
        - Opened
        - Closed
        - Settled
        - Cancelled
        - AllStates
        - Won
        - Lost
        - "Cashed Out"
        - Void
        - Undefined

    BetResult:
      type: string
      enum:
        - Won
        - Lost
        - Drawn
        - Open
        - Void
        - Pending
        - NotSpecified

    BetTicketSelection:
      type: object
      properties:
        idFOSelection:
          type: string
          description: Selection identifier
        eachWayReduction:
          type: string
        eachWayPlaceTerms:
          type: string
        idFOPriceType:
          type: string
        isTrap:
          type: string
        priceUp:
          type: string
          description: Numerator of fractional odds
        priceDown:
          type: string
          description: Denominator of fractional odds

    BetTicket:
      type: object
      properties:
        betLegs:
          type: array
          items:
            $ref: '#/components/schemas/BetTicketSelection'
        idFOBetType:
          type: string
          description: Bet type identifier
        winStake:
          type: string
          description: Stake amount
        potentialReturn:
          type: number
          format: double
          description: Potential return amount
        pool:
          type: boolean

    Bet:
      type: object
      properties:
        idFOBet:
          type: string
          description: Bet identifier
        eventName:
          type: string
        participantHome:
          type: string
        participantAway:
          type: string
        idFOSportType:
          type: string
        betTypeName:
          type: string
        betLegStatus:
          $ref: '#/components/schemas/BetState'
        betResult:
          $ref: '#/components/schemas/BetResult'
        betState:
          $ref: '#/components/schemas/BetState'
        marketName:
          type: string
        selectionName:
          type: string
        potentialReturn:
          type: number
          format: double
        totalReturn:
          type: number
          format: double
        totalMultiBetOdds:
          type: number
          format: double
        totalStake:
          type: number
          format: double
        tsAttempted:
          type: string
          format: date-time

  securitySchemes:
    SessionKey:
      type: apiKey
      in: header
      name: X-Session-Key
      description: Session key for authenticated requests
    AppOrigin:
      type: apiKey
      in: header
      name: app-origin
      description: Application origin identifier

security:
  - SessionKey: []
  - AppOrigin: []

paths:
  /api/betting/fo/bets:
    $ref: './paths/bet-management.yaml#/paths/~1api~1betting~1fo~1bets'
  /api/betting/fo/bets/{identifier}:
    $ref: './paths/bet-management.yaml#/paths/~1api~1betting~1fo~1bets~1{identifier}'
  /api/betting/fo/bet/calculate:
    $ref: './paths/bet-management.yaml#/paths/~1api~1betting~1fo~1bet~1calculate'
  /api/betting/fo/allowedBetTypesWithCalculation:
    $ref: './paths/bet-management.yaml#/paths/~1api~1betting~1fo~1allowedBetTypesWithCalculation'
  /api/betting/fo/betslip:
    $ref: './paths/bet-management.yaml#/paths/~1api~1betting~1fo~1betslip'

  /api/custom-bet/v1/calculate:
    $ref: './paths/bet-builder.yaml#/paths/~1api~1custom-bet~1v1~1calculate'
  /api/custom-bet/v1/placecustombet:
    $ref: './paths/bet-builder.yaml#/paths/~1api~1custom-bet~1v1~1placecustombet'

  /api/betting/fo/betslip/{identifier}/confirm:
    $ref: './paths/boosted-bets.yaml#/paths/~1api~1betting~1fo~1betslip~1{identifier}~1confirm'
  /api/betting/fo/betslip/{identifier}/reject:
    $ref: './paths/boosted-bets.yaml#/paths/~1api~1betting~1fo~1betslip~1{identifier}~1reject'

  /api/cashout/fo/cashout/{betId}/calculate:
    $ref: './paths/cashout.yaml#/paths/~1api~1cashout~1fo~1cashout~1{betId}~1calculate'
  /api/cashout/fo/cashout/{betId}:
    $ref: './paths/cashout.yaml#/paths/~1api~1cashout~1fo~1cashout~1{betId}'
  /api/cashout/fo/cashout/allowedBetIds:
    $ref: './paths/cashout.yaml#/paths/~1api~1cashout~1fo~1cashout~1allowedBetIds'

  /api/betting/fo/attribute/getAll:
    $ref: './paths/betslip-settings.yaml#/paths/~1api~1betting~1fo~1attribute~1getAll'
  /api/betting/fo/attribute/update:
    $ref: './paths/betslip-settings.yaml#/paths/~1api~1betting~1fo~1attribute~1update'

  /api/betting/fo/freeBalance:
    $ref: './paths/additional-features.yaml#/paths/~1api~1betting~1fo~1freeBalance'
  /api/betting/fo/bookbetslip/{betslipId}:
    $ref: './paths/additional-features.yaml#/paths/~1api~1betting~1fo~1bookbetslip~1{betslipId}'
  /services/content/get:
    $ref: './paths/additional-features.yaml#/paths/~1services~1content~1get'
  /api/special-offer-calculator/v1/calculateSpecialOffers:
    $ref: './paths/additional-features.yaml#/paths/~1api~1special-offer-calculator~1v1~1calculateSpecialOffers'