<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844144342615-urhfoco68q9f715gffihr2lpntdava6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844144342615-urhfoco68q9f715gffihr2lpntdava6k</string>
	<key>API_KEY</key>
	<string>AIzaSyDNv7AlyZSGqPd9_VVqjXYPlpuvx-WyYZM</string>
	<key>GCM_SENDER_ID</key>
	<string>844144342615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomagaming.gomasportradar</string>
	<key>PROJECT_ID</key>
	<string>goma-sportsbook</string>
	<key>STORAGE_BUCKET</key>
	<string>goma-sportsbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844144342615:ios:4018d2122a9de8a38a9512</string>
	<key>DATABASE_URL</key>
	<string>https://goma-sportsbook-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>