<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519365540506-j31li2qs8c08ku1hr6sgephm8pke7e7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519365540506-j31li2qs8c08ku1hr6sgephm8pke7e7j</string>
	<key>API_KEY</key>
	<string>AIzaSyBcaqVveWkxvIGQqYUONO53VWu_LgPxskk</string>
	<key>GCM_SENDER_ID</key>
	<string>519365540506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.betsson.ios.app</string>
	<key>PROJECT_ID</key>
	<string>betssonfr-74f1b</string>
	<key>STORAGE_BUCKET</key>
	<string>betssonfr-74f1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519365540506:ios:15a46886b359a568defd23</string>
	<key>DATABASE_URL</key>
	<string>https://betssonfr-74f1b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>